html{

    background-color: #f8f9fa;
    
}

.container {
    background-color: #f8f9fa;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Login-Form {

    font-family: 'Segoe UI';
    font-style: italic;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    width: 750px;
    margin: 0 150px;
    padding: 20px 20px;
    
    border: 2.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;

}    

.column {
    
    display: flex;
    flex: 1 1 45%;
    flex-direction: column;
 


}

.saludo{

    margin: 0px 30px;
    
    
}

#title{
    text-align: center;
}

.interactive{
    
    
    background: transparent;
    font-style: italic;
    padding: 8px 35px 8px 8px; /* arriba | derecha | abajo | izquierda */
    border: 2px solid #000000;
    border-radius: 2px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;

    margin: 10px;

    outline: none;
    font-weight: 700;
    
}

::placeholder{
    font-size: medium;
    font-style: italic;
    font-weight: 100;
    color: #1a1a1a;
    
}

.Login-Form a{
    color: #105cce;
    text-decoration: none;
    margin-inline-start: auto;
    width: fit-content;
    transition: color 0.3s;  
    
}
.Login-Form a:hover{
    color: lightseagreen
}


button {
    background-color: #105cce;
    color: #d6d6d6;
    padding: 10px 20px;
    font-size: small;
    font-family: 'Segoe UI';
    font-size: medium;
    border: 0px solid #105cce;
    border-radius: 4px;
    cursor: pointer;
 
    transition: background-color 0.3s;
}

button:hover {
    background-color: lightseagreen; /* Color de fondo cuando se pasa el cursor */
    border: lightseagreen;
}

