@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html{
    background-color: #d6d6d6;
    color: #032030;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 5%;

}


[data-archivo="Register"] .container {

    background: rgba(80, 211, 235, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    

   display: flex;
    align-items: center;

    width: 750px;
    padding: 20px 20px;
    border-radius: 20px;    
    column-gap: 25px;
}

[data-archivo="Login"] .container{
    background: rgba(80, 211, 235, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    width: 300px;
    margin: 0 150px;
    padding: 20px 20px;
    border-radius: 15px;
}

.column { 
    display: flex;
    flex: 1 1 45%;
    flex-direction: column;

}

.saludo{
    margin: 0px 30px;
    text-align: start; 
}

.Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.interactive{
    font-family: "Varela Round", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: medium;
    
 
    background: transparent;
    color: #032030;          /* arriba | derecha | abajo | izquierda */
    border: 2px solid #c7e2fa;
    border-radius: 9px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    
    margin-bottom: 10%;
  
    outline: none;
    
}

::placeholder{
    font-size: medium;
    color: #3d5872;

}

.column a{
    color: #105cce;
    text-decoration: none;
    margin-inline-start: auto;
    width: fit-content;
    transition: color 0.4s;  
    
}

.column a:hover{
    color: lightseagreen
}


button {
    background-color: #105cce;
    color: #F8F9FA;
    padding: 10px 20px;
    font-size: large;
    border: 0px solid #105cce;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Varela Round", sans-serif;
    font-style: normal;
    margin-top: 1%;
    margin-bottom: 5%;
    transition: background-color  0.9s;
    
}

button:hover { /*:hover es una pseudo-clase (también conocido como pseudo-selector) que se utiliza para aplicar estilos a un elemento cuando el usuario pasa el cursor sobre él.*/
    background-color: lightseagreen; /* Color de fondo cuando se pasa el cursor */
    border: lightseagreen;
}

.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.fa-cloud{
    color: #66c9f7;
    font-size: 1000%;
    margin-bottom: 3%;
}

.cloud-icon{
    animation: move-cloud 3s ease-in-out infinite ;
}

@keyframes move-cloud {
    50%{
        transform: translateX(10%);
    }
    
    50% {
        transform: translateX(-10%);
    }
}

.rain {
    display: flex;
    transform: rotate(23deg);
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    grid-gap: 31px
}

.raindrop {

    width: 5px;
    height: 47px;
    transform: rotate(0deg);
    background-color: #8aaee0;
    border-radius: 30%;
    animation: fall 2s infinite;
    border: 0px solid #8aaee0;
}

@keyframes fall {
    1% {
      transform: translateY(0);
      opacity: 2;
    }
    100% {
      transform: translateY(38px);
      opacity: 0;
    }
}



h2{
    text-align: center;
}