@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html{
    background-color: #d6d6d6;
    color: #032030;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Jcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;  
    flex-grow: 1; 
    width: 100%;
}

#JcontainerClima {
    background-color: rgba(80, 211, 235, 0.2);
    max-width: 400px;
    width: 100%; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border: 2px solid #c7e2fa;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #1a1a1a;
}

h2, label, p {
    color: #1a1a1a;
    margin: 8px;
}

#JInput {
    padding: 5px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    border: 2px solid #c7e2fa;
    border-radius: 9px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

#JButtonBuscar {
    background-color: #105cce;
    color: #F8F9FA;
    padding: 8px;
    width: 200px;
    font-size: large;
    border: 0px solid #105cce;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Varela Round", sans-serif;
    font-style: normal;
    margin-top: 10px;
    transition: background-color  0.9s;
    
}

#JButtonBuscar:hover {
    background-color: lightseagreen;
    transition: all 0.3s ease;
}

.JContainerInfoClima {
    display: none;
    flex-direction: column;
    align-items: center;  
    justify-content: center;  
    height: 100%; 
    width: 100%;
}

.containerDetailClima {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.containerDetailClima img, .containerDetailClima p {
    margin: 0 10px; 
}

.infoClima {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;  
    height: 100%; 
    width: 100%;
}

.img-container {
    position: relative;
    display: inline-block;
    margin: 25px;
}

.img-container img {
    display: block;
    transition: opacity 0.3s ease;
}

.img-container .hover-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-container:hover img {
    opacity: 0;
}

.img-container:hover .hover-text {
    opacity: 1;
}

#vientoDiv, #lluviaDiv, #sensTermicaDiv, #humedadDiv, #grados {
    display: none;
}

#direccionVientoImg{
    width: 40px; 
    height: 40px;
}

#lluviaImg{
    width: 50px; 
    height: 50px;
}

#sensTermicaImg {
    width: 30px; 
    height: 45px;
}

#humedadImg{
    width: 35px; 
    height: 45px;
}

#ubiImg {
    width: 2%;
    height: 4%;
}

#climaImg {
    width: 15%;
    height: 30%;
}

#grados {
    font-size: 30px;
    margin: 20px;
}

#Jfooter {
    background-color: rgba(80, 211, 235, 0.2);
    color: white;
    text-align: center;
    width: 100%;  
    padding: 10px;
    margin-top: auto;
    flex-shrink: 0;
}

#Jfooter p {
    color: black;
    text-align: center;
}