<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicacion del clima</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <button id="sboton">
                <div class="sboton-visible"></div>
            </button>
            <ul class="smenu">
                <li class="selemento1"><a href="{{ url_for('login') }}">ingresar</a></li>
                <li class="selemento1"><a href="{{ url_for('register') }}">registrarse</a></li>
            </ul>
        </nav>
    </header>
    <div class="JContainerInfoClima">
        <div class="infoClima">
            <img id="ubiImg" src="{{ url_for('static', filename='images/ubicacion.png') }}">
            <p id="JCiudad"></p>
            <img id="climaImg" src="https://www.svgrepo.com/show/427015/weather-icons-44.svg">


            <div class="containerDetailClima">
                <div id="vientoDiv" class="img-container">
                    <img id="direccionVientoImg" src="{{ url_for('static', filename='images/direccionViento.png') }}">
                    <p class="hover-text">Dirección del viento</p>
                </div>
                <p id="grados"><strong>25º</strong></p>
                <div id="lluviaDiv" class="img-container">
                    <img id="lluviaImg" src="{{ url_for('static', filename='images/lluvia.png') }}">
                    <p class="hover-text">Probabilidad de Lluvia</p>
                </div>
                <div id="sensTermicaDiv" class="img-container">
                    <img id="sensTermicaImg" src="{{ url_for('static', filename='images/temperatura.png') }}">
                    <p class="hover-text">Sensación Termica</p>
                </div>
                <div id="humedadDiv" class="img-container">
                    <img id="humedadImg" src="{{ url_for('static', filename='images/humedad.png') }}">
                    <p class="hover-text">Humedad</p>
                </div>
            </div>
        </div>
    </div>


    <div class="Jcontainer">
        <div id="JcontainerClima">
            <h2>Clima</h2>
            <input type="text" id="JInput" placeholder="Ingrese una ciudad, estado/provincia, país" required>
            <button id="JButtonBuscar" onclick="JbuscarClima()">Buscar</button>
        </div>    
    </div>

    <footer id="Jfooter">
        <p id="p">Copyright © Todos los derechos reservados</p>
    </footer>

    <script src="{{ url_for('static', filename='main2.js') }}"></script>

</body>
</html>