<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='user-auth.css') }}">
</head>
<body>
    <main>
        <div>
            <h2>Hello!</h2>
            <h1>Good Morning</h1>
            <h2><strong>SIGN UP</strong></h2>
            <form onsubmit="return registerUsuario();">
                <input type="text" id="userName" name="userName" placeholder="username" required>
                <input type="password" id="userPass" name="userPass" placeholder="password" required>
                <input type="password" id="repeatUserPass" name="repeatUserPass" placeholder="repeat password" required>
                <button type="submit">Create account</button>
            </form>
            <span id="errorMessage" style="color: red;"></span>
            <a href="{{ url_for('login') }}">Already have an account?</a>
        </div>
        <div>
            <h1><strong>Weather app</strong></h1>
            <!-- Revisa la ruta de la imagen para asegurarte de que sea correcta -->
            <img src="{{ url_for('static', filename='images/lluvia_1.gif') }}">
            <h2><strong>Get your account!</strong></h2>
        </div>
    </main>
    <script src="{{ url_for('static', filename='auth.js') }}"></script>
</body>
</html>


