<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/header.css">
    <title>header</title>
</head>
<body>
    <header>
        <nav>
            <button id="sboton">
                <div class="sboton-visible"></div>
            </button>
            <ul class="smenu">
                <li class="selemento1"><a href="../../pages/login.html">ingresar</a></li>
                <li class="selemento1"><a href="../../pages/register.html">registrarse</a></li>
                <li class="selemento2"><boton class="spersonalizar"> personalizar </boton></li>
                   
                <li class="selemento3"><boton>vientos</boton></li>
                <li class="selemento3"><boton>lluvias</boton></li>
                <li class="selemento3"><boton>humedad</boton></li>
                <li class="selemento3"><boton>presion atmosferica</boton></li>
                <li class="selemento3"><boton>sensación termica</boton></li>
                 
                
                <li class="selemento2">Salir</li>
            </ul>
        </nav>
    </header>
    <script src="../../js/main.js"></script>
</body>
</html>